*{
    background-color: rgb(202, 245, 245);
    /* background-image: url(/styles/download.jpeg); */
}
h1{
    text-align: center;
    border: 3px solid red;
    margin: 2px;
    background-color: darkolivegreen;
}
.html{
    border: 3px solid blueviolet;
    margin: 50px 2px 5px 2px;
    width: 40%;
    border-radius: 20px;
    /* height: 50px; */
    
}
.css{
    border: 3px solid rgb(174, 0, 151);
    margin: 5px 2px 5px 2px;
    width: 40%;
    border-radius: 20px;
}
.git{
    border: 3px solid rgb(3, 9, 106);
    margin: 5px 2px 5px 2px;
    width: 40%;
    border-radius: 20px;
}
.text{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
